In [1]:
import sqlite3

In [2]:
conn = sqlite3.Connection('HeartDisease.db')

<p style="color:blue">Select Number of records in database</p>

In [3]:
sql = 'SELECT COUNT(*) from Data'
conn.execute(sql).fetchall()

[(319795,)]

<p style="color:blue">Select number of people who have heart disease, and who don't have heart disease</p>

In [4]:
sql = 'SELECT HeartDisease,COUNT(*) from Data group by HeartDisease'
conn.execute(sql).fetchall()

[('No', 292422), ('Yes', 27373)]

<p style="color:blue">select avg of BMI for people who have heart disease and who don't have</p>

In [5]:
sql="SELECT HeartDisease,avg(BMI) from Data group by HeartDisease" 
conn.execute(sql).fetchall()

[('No', 28.22465833623946), ('Yes', 29.40159207978655)]

<p style="color:blue">Select Number of smoking people and not smoking people</p>

In [6]:
sql="SELECT Smoking, COUNT(Smoking) from Data group by Smoking "
conn.execute(sql).fetchall()

[('No', 187887), ('Yes', 131908)]

<p style="color:blue">select number of smoking people and not smoking people group by heart disease </p>

In [7]:
sql="SELECT Smoking, HeartDisease, COUNT(HeartDisease) from Data group by Smoking, HeartDisease "
conn.execute(sql).fetchall()

[('No', 'No', 176551),
 ('No', 'Yes', 11336),
 ('Yes', 'No', 115871),
 ('Yes', 'Yes', 16037)]

<p style="color:blue">Select Number of people who drink alcohol and who don't drink</p>

In [8]:
sql="SELECT AlcohoDrinking, COUNT(AlcohoDrinking) from Data group by AlcohoDrinking"
conn.execute(sql).fetchall()

[('No', 298018), ('Yes', 21777)]

<p style="color:blue">Select Number of people who drink alcohol and who don't drink group by HeartDisease</p>

In [9]:
sql="SELECT AlcohoDrinking, HeartDisease, COUNT(HeartDisease) from Data group by AlcohoDrinking, HeartDisease "
conn.execute(sql).fetchall()

[('No', 'No', 271786),
 ('No', 'Yes', 26232),
 ('Yes', 'No', 20636),
 ('Yes', 'Yes', 1141)]

<p style="color:blue">The number of people who complained of physical problems for each day in the last 30 days</p>

In [10]:
sql="SELECT PhysicalHealth, COUNT(PhysicalHealth) from Data group by PhysicalHealth order by COUNT(PhysicalHealth) desc"
conn.execute(sql).fetchall()

[(0, 226589),
 (30, 19509),
 (2, 14880),
 (1, 10489),
 (3, 8617),
 (5, 7606),
 (10, 5453),
 (15, 5012),
 (7, 4629),
 (4, 4468),
 (20, 3216),
 (14, 2893),
 (6, 1270),
 (25, 1164),
 (8, 924),
 (21, 626),
 (12, 605),
 (28, 446),
 (29, 204),
 (9, 180),
 (18, 167),
 (16, 135),
 (27, 124),
 (17, 110),
 (13, 91),
 (22, 89),
 (11, 85),
 (24, 67),
 (26, 66),
 (23, 46),
 (19, 35)]

<p style="color:blue">The number of people who complained of physical problems for each day in the last 30 days group by Heart Disease</p>

In [11]:
sql="SELECT PhysicalHealth, HeartDisease, COUNT(HeartDisease) from Data group by PhysicalHealth, HeartDisease"
conn.execute(sql).fetchall()

[(0, 'No', 212167),
 (0, 'Yes', 14422),
 (1, 'No', 9884),
 (1, 'Yes', 605),
 (2, 'No', 13711),
 (2, 'Yes', 1169),
 (3, 'No', 7774),
 (3, 'Yes', 843),
 (4, 'No', 3974),
 (4, 'Yes', 494),
 (5, 'No', 6710),
 (5, 'Yes', 896),
 (6, 'No', 1097),
 (6, 'Yes', 173),
 (7, 'No', 4164),
 (7, 'Yes', 465),
 (8, 'No', 804),
 (8, 'Yes', 120),
 (9, 'No', 143),
 (9, 'Yes', 37),
 (10, 'No', 4615),
 (10, 'Yes', 838),
 (11, 'No', 76),
 (11, 'Yes', 9),
 (12, 'No', 501),
 (12, 'Yes', 104),
 (13, 'No', 81),
 (13, 'Yes', 10),
 (14, 'No', 2581),
 (14, 'Yes', 312),
 (15, 'No', 4082),
 (15, 'Yes', 930),
 (16, 'No', 114),
 (16, 'Yes', 21),
 (17, 'No', 89),
 (17, 'Yes', 21),
 (18, 'No', 134),
 (18, 'Yes', 33),
 (19, 'No', 26),
 (19, 'Yes', 9),
 (20, 'No', 2575),
 (20, 'Yes', 641),
 (21, 'No', 527),
 (21, 'Yes', 99),
 (22, 'No', 74),
 (22, 'Yes', 15),
 (23, 'No', 34),
 (23, 'Yes', 12),
 (24, 'No', 52),
 (24, 'Yes', 15),
 (25, 'No', 910),
 (25, 'Yes', 254),
 (26, 'No', 54),
 (26, 'Yes', 12),
 (27, 'No', 96),
 (27, 'Yes', 28),
 (28, 'No', 338),
 (28, 'Yes', 108),
 (29, 'No', 145),
 (29, 'Yes', 59),
 (30, 'No', 14890),
 (30, 'Yes', 4619)]

<p style="color:blue">The number of people who have difficult in walking group by Heart Disease</p>

In [12]:
sql="SELECT DiffWalking, HeartDisease, COUNT(DiffWalking) from Data group by DiffWalking, HeartDisease"
conn.execute(sql).fetchall()

[('No', 'No', 258040),
 ('No', 'Yes', 17345),
 ('Yes', 'No', 34382),
 ('Yes', 'Yes', 10028)]

<p style="color:blue">The number of females and males group by Heart Disease</p>

In [13]:
sql="SELECT Sex, HeartDisease, COUNT(Sex) from Data group by Sex, HeartDisease"
conn.execute(sql).fetchall()

[('Female', 'No', 156571),
 ('Female', 'Yes', 11234),
 ('Male', 'No', 135851),
 ('Male', 'Yes', 16139)]

<p style="color:blue">For each age category how many person have heart disease and who haven't</p>

In [14]:
sql="SELECT AgeCategory, HeartDisease, COUNT(AgeCategory) from Data group by AgeCategory, HeartDisease order by  COUNT(AgeCategory) desc"
conn.execute(sql).fetchall()

[('60-64', 'No', 30359),
 ('65-69', 'No', 30050),
 ('55-59', 'No', 27555),
 ('70-74', 'No', 26218),
 ('50-54', 'No', 23999),
 ('45-49', 'No', 21047),
 ('18-24', 'No', 20934),
 ('40-44', 'No', 20520),
 ('35-39', 'No', 20254),
 ('80 or older', 'No', 18704),
 ('30-34', 'No', 18527),
 ('75-79', 'No', 17433),
 ('25-29', 'No', 16822),
 ('80 or older', 'Yes', 5449),
 ('70-74', 'Yes', 4847),
 ('65-69', 'Yes', 4101),
 ('75-79', 'Yes', 4049),
 ('60-64', 'Yes', 3327),
 ('55-59', 'Yes', 2202),
 ('50-54', 'Yes', 1383),
 ('45-49', 'Yes', 744),
 ('40-44', 'Yes', 486),
 ('35-39', 'Yes', 296),
 ('30-34', 'Yes', 226),
 ('25-29', 'Yes', 133),
 ('18-24', 'Yes', 130)]

<p style="color:blue">For each race/ethnicity how many person have heart disease and who haven't</p>

In [15]:
sql="SELECT Race, HeartDisease, COUNT(Race) from Data group by Race, HeartDisease order by  COUNT(Race) desc"
conn.execute(sql).fetchall()

[('White', 'No', 222705),
 ('Hispanic', 'No', 26003),
 ('White', 'Yes', 22507),
 ('Black', 'No', 21210),
 ('Other', 'No', 10042),
 ('Asian', 'No', 7802),
 ('American Indian/Alaskan Native', 'No', 4660),
 ('Black', 'Yes', 1729),
 ('Hispanic', 'Yes', 1443),
 ('Other', 'Yes', 886),
 ('American Indian/Alaskan Native', 'Yes', 542),
 ('Asian', 'Yes', 266)]

<p style="color:blue">Count people who have or haven't diabetic and have or haven't HeartDisease</p>

In [16]:
sql="SELECT Diabetic, HeartDisease, COUNT(HeartDisease) from Data group by Diabetic, HeartDisease "
conn.execute(sql).fetchall()

[('No', 'No', 252134),
 ('No', 'Yes', 17519),
 ('No, borderline diabetes', 'No', 5992),
 ('No, borderline diabetes', 'Yes', 789),
 ('Yes', 'No', 31845),
 ('Yes', 'Yes', 8957),
 ('Yes (during pregnancy)', 'No', 2451),
 ('Yes (during pregnancy)', 'Yes', 108)]

In [17]:
conn.close()